<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Odin Airlines, <%= @passenger.name %></h1>
    <p>
      You have successfully booked your ticket.
    </p>
    <p>Thanks for for flying with us!</p>
  </body>
</html>